.admin-wrapper {
	display: flex;
	width: 100%;
	padding: 40px;
}

.sidebar {
	width: 250px;
	background-color: #141414;
	padding: 20px;
	border-right: 1px solid #333;
	flex-shrink: 0;
	border-radius: 8px;
}

.sidebar-logo {
	margin-bottom: 20px;
}

.sidebar-nav ul {
	list-style: none;
}

.nav-item {
	cursor: pointer;
}

.nav-item:hover {
	opacity: 0.8;
}

.nav-item.active {
	color: #4ade80;
}

.main-content {
	flex-grow: 1;
	padding: 0 40px;
	display: flex;
	flex-direction: column;
	background-color: #0c0c0c;
}

.content-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

p {
	color: #889988;
	font-size: 1.1rem;
	max-width: 400px;
	margin: 0 auto;
	line-height: 1.6;
}

.coin-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
	border-bottom: 1px solid #333;
}

.coin-item img {
	margin-right: 15px;
	width: 30px;
}

.coin-name {
	text-align: left;
	flex: 1;
}

.coin-price {
	font-weight: 600;
}

.search-input {
	padding: 12px;
	background: #1a1a1a;
	border: 1px solid #333;
	border-radius: 8px;
	color: white;
	font-size: 16px;
	outline: none;
}

.search-input:focus {
	border-color: #4ade80;
}

.sort-buttons {
	display: flex;
	gap: 10px;
	margin-bottom: 20px;
	justify-content: flex-end;
}

.sort-btn {
	color: #888;
	margin: 10px;
	cursor: pointer;
	font-weight: 500;
	background: none;
	border: none;
	outline: none;
}

.sort-btn:hover {
	text-decoration: underline;
}

.sort-btn.active {
	color: #4ade80;
}

.green {
	color: #11d811;
}

.red {
	color: #f00606;
}

.coin-percent {
	margin-left: 10px;
}

.pagination-list {
	display: flex;
	list-style: none;
	gap: 8px;
	margin-bottom: 20px;
}

.pagination-btn {
	background: none;
	border: none;
	color: #888;
	cursor: pointer;
	font-size: 14px;
	padding: 5px 10px;
}

.pagination-btn:hover {
	color: #fff;
}

.pagination-btn.active {
	color: #4ade80;
	border-bottom: 1px solid #4ade80;
}

.coin-link-wrapper {
	text-decoration: none;
	color: inherit;
	display: block;
}

.coin-link-wrapper:hover {
	background-color: #1a1a1a;
}

.coin-page {
	min-width: 400px;
	margin: 40px auto;
	padding: 20px;
	text-align: center;
	border: 1px solid #eee;
	border-radius: 12px;
}

.coin-image {
	width: 100px;
	height: 100px;
	margin-bottom: 15px;
}

.coin-page-name {
	font-size: 24px;
	margin: 5px 0;
	text-align: center;
}

.coin-symbol {
	color: #666;
	text-transform: uppercase;
	font-size: 0.9rem;
}

.coin-price-container {
	margin-top: 20px;
	padding-top: 15px;
	border-top: 1px solid #eee;
}

.price-value {
	font-size: 1.5rem;
	font-weight: bold;
	color: #4ade80;
}