:root {
	font-family: 'Inter', system-ui, -apple-system, sans-serif;
	--bg-color: #0a0c0a;
	--text-color: #e0e0e0;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
	line-height: 1.5;
	min-height: 100vh;
}